.home {
  background-color: rgba(34, 47, 75, 1);
  width: 1920px;
  height: 1080px;
  position: absolute;
}

.background {
  width: 1811px;
  height: 951px;
  position: absolute;
  left: 109px;
  top: 128px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.midAppointmentButtonLayout {
  width: 236px;
  height: 97px;
  position: absolute;
  left: 1097px;
  top: 586px;
}

.midAppointmentButtonDesign {
  background-color: rgba(46, 178, 195, 1);
  width: 185px;
  height: 47px;
  position: absolute;
  left: 25px;
  top: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.midAppointmentButton {
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: 22px;
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: Montserrat;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2;
}

.navMenuLayout {
  width: 930px;
  height: 72px;
  position: absolute;
  left: 939px;
  top: 30px;
}

.navDoctorLayout {
  width: 111px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 11px;
}

.navDoctorDesign {
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: 22px;
  position: absolute;
  left: 13px;
  top: 13px;
  font-family: Montserrat;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2;
}

.navPatientsLayout {
  width: 114px;
  height: 47px;
  position: absolute;
  left: 168px;
  top: 12px;
}

.navPatientsDesign {
  color: rgba(255, 255, 255, 1);
  width: 89px;
  height: 22px;
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: Montserrat;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2;
}

.navAddPatientsLayout {
  width: 133px;
  height: 47px;
  position: absolute;
  left: 339px;
  top: 12px;
}

.navAddPatientsDesign {
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: 22px;
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: Montserrat;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2;
}

.navAddPharmacyLayout {
  width: 134px;
  height: 47px;
  position: absolute;
  left: 528px;
  top: 12px;
}

.navAddPharmacyDesign {
  color: rgba(255, 255, 255, 1);
  width: 109px;
  height: 22px;
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: Montserrat;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2;
}

.topAppointmentButtonLayout {
  width: 211px;
  height: 72px;
  position: absolute;
  left: 719px;
  top: 1px;
}

.topAppointmentButtonDesign {
  background-color: rgba(46, 178, 195, 1);
  width: 185px;
  height: 47px;
  position: absolute;
  left: 12px;
  top: 12px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.topAppointmentButton {
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: 22px;
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: Montserrat;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2;
}

.tool {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 40px;
  left: 82px;
  overflow: hidden;
  background-image: url("../images/tool.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.DocOffice {
  color: rgba(255, 255, 255, 1);
  width: 168px;
  height: 35px;
  position: absolute;
  left: 142px;
  top: 48px;
  font-family: Montserrat;
  text-align: center;
  font-size: 31px;
  letter-spacing: 2;
}

.slogan {
  font-size: 40px;
  width: 613px;
  height: 250px;
  position: absolute;
  left: 1104px;
  top: 319px;
}

.sloganDesign {
  color: rgba(255, 255, 255, 1);
  width: 585px;
  height: 222px;
  position: absolute;
  left: 14px;
  top: 14px;
  font-family: Montserrat;
  text-align: left;
  font-size: Symbol(mixed)px;
  letter-spacing: -3;
}

.heartbeat {
  width: 635px;
  height: 526px;
  position: absolute;
  left: 157px;
  top: 277px;
  overflow: hidden;
  background-image: url("../images/heartbeat.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.myForm {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  width: 20em;
  padding: 1em;
  border: 2px solid #ccc;
}

.myForm * {
  box-sizing: border-box;
}

.myForm fieldset {
  border: none;
  padding: 0;
}

.myForm legend,
.myForm label {

  padding: 5;
  font-weight: bold;
}

.myForm label.choice {
  font-size: 0.9em;
  font-weight: normal;
}

.myForm input[type="text"],
.myForm input[type="tel"],
.myForm input[type="email"],
.myForm input[type="datetime-local"],
.myForm select,
.myForm textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  padding: 0.3em;
}

.myForm textarea {
  height: 100px;
}

.myForm button {
  padding: 1em;
  border-radius: 0.5em;
  background: #eee;
  border: none;
  font-weight: bold;
  margin-top: 1em;
}

.myForm button:hover {
  background-color: rgba(46, 178, 195, 1);
  cursor: pointer;
}
